body {
  font-family: "Poppins", sans-serif;
}
.title {
  font-family: "Berkshire Swash", cursive;
  color: #ff5e19;
}
.alvarez {
  height: 220px;
  width: 100%;
  margin: auto;
}
.card-img {
  height: 150px;
  width: 100%;
}
button {
  width: 94%;
  margin: 0 3%;
}
/* .title-subtitle {
  width: 70%;
  margin: auto;
} */
